body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 60px; /* Per evitare che il contenuto sia nascosto dal menu */
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #ff4136;
}
.section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  text-align: center;
  font-weight: bold;
  color: #ff4136;
  margin-bottom: 5px;
}
.number-input {
  padding: 10px;
  width: 80px;
  margin: 5px 0;
  background-color: #333;
  color: #fff;
  border: 1px solid #ff4136;
  border-radius: 5px;
  text-align: center;
}
.percentage-item {
  width: 100%;
  margin: 10px 0;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 20px;
}
.percentage-bar {
  height: 100%;
  transition: width 0.3s ease-in-out;
}
.percentage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.username-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: 1px solid #ff4136;
  border-radius: 5px;
}

.save-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #ff4136;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #e60000;
}

.menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}

.menu-bar button {
  background-color: #ff4136;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-bar button:hover {
  background-color: #e60000;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  background-color: #333;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard li span {
  display: inline-block;
  margin-right: 10px;
}

.leaderboard li .username {
  font-weight: bold;
  color: #ff4136;
  flex-grow: 1;
}

.leaderboard li .score {
  font-weight: bold;
}

.leaderboard li .total {
  color: #ff4136;
}



.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-page input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.login-page button {
  padding: 10px;
  font-size: 16px;
  background-color: #ff4136;
  color: white;
  border: none;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #e60000;
}
